<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Atithi Devo Bhava</title>
    <link href="~/Travellers-master/css/bootstrap.css" rel="stylesheet">
    <link href="~/Travellers-master/css/style.css" rel="stylesheet">
    <link href="~/Travellers-master/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.Partial("_LoginPartial")
            </div>
            
          <a id="menu-toggle" href="#" class="btn btn-primary btn-lg toggle"><i class="fa fa-bars"></i></a>
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li>
                        <a id="menu-close" href="#" class="btn btn-default btn-lg pull-right toggle">
                            <i class="fa fa-times"></i>
                        </a>
                    </li>
                    <li class="sidebar-brand">
                        <a href="index.html">Traveller's</a>
                        <hr>
                    </li>
                    <li>
                        <a href="#top">Home</a>
                    </li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#services">Services</a>
                    </li>
                    <li>
                        <a href="#map">Direction</a>
                    </li>
                    <li>
                        <a href="#bookings">Online Booking</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="top" class="header">
        <div class="vert-text parallax">
            <h1 class="header-text">Atithi Devo Bhava</h1>
            <h2 class="header-text">Travel the world</h2>
            <h3 class="header-text">
                <em class="header-text">"An Investment in Travel is an Investment Into Yourself !" </em>
            </h3><br />
            <a href="#about" class="btn header-btn">Find Out More</a>
            <br />
            <a href="#about"><img src="~/Travellers-master/img/direction.png" class="space" alt="Direction"></a>
        </div>
    </div>

    <div id="about">
        <div class="light-wrapper">
            <div class="container inner">
                <div class="row">
                    <div class="text-center">
                        <h2 class="main-title">About our Services</h2>
                        <hr>
                    </div>
                    <div class="divide50"></div>
                    <div class="col-sm-4">
                        <figure><img src="~/Travellers-master/img/atithipic.png" alt="" style="width: 100%;"></figure>
                    </div>
                    <div class="col-sm-8">
                        <h4>We Focus On</h4>
                        <p>
                            Sitting still in a small, cramped space for a long flight can make anyone go stir crazy. If you're someone who exercises regularly, you probably dread travel days even more. Depending on where you're heading, it may be a half day or more from the time you leave for the airport to when you arrive at your final destination—and that's not even accounting for delays and cancellations—which means you're not likely to have your daily workout.
                            But what if you could get through security and squeeze in a quick sweat session at an airport gym just before boarding? It may sound too good to be true, but as wellness travel continues to enjoy off-the-charts popularity, and travel and hospitality brands invest more in travelers' well-being, you are more likely to see gyms popping up in airports around the country.
                        </p>
                    </div>
                </div>
                <div class="divide50"></div>
                <div class="row">
                    <div class="col-sm-4">
                        <h4>Our Journeys</h4><hr />
                        <div class="icon"> <img src="~/Travellers-master/img/Graph-2-1.png" height="400" width="330" class="retina" alt="" /> </div>
                    </div>
                    <div class="col-sm-4">
                        <h4>What Benefits You Get? </h4><hr>
                        <p>
                            “Atithi Devo Bhava” provides multiple facilities related to Health relaxation. Like,
                        </p>
                        <div class="divide10"></div>
                        <ol class="color">
                            <li>Yoga sessions.</li>
                            <li>As south India is famous in Ayurvedic Messages. Spa Facilities.</li>
                            <li>Swimming pool.</li>
                            <li>Very important Gym area.</li>
                            <li>Gaming section.</li>
                        </ol>
                        <p>
                            They can have there own mode of relaxation choices. These all things help traveler to enjoy travelling and waiting area will be more fun than boring. Moreover they carry the most beautiful experiences and like to travel again.                            .
                        </p>
                    </div>
                    <div class="col-sm-4">
                        <h4>Facilities Available</h4><hr>
                        <div class="divide10"></div>
                        <div class="services-2">
                            <table>
                                <tr>
                                    <td>
                                        <div class="icon"> <img src="~/Travellers-master/img/gym2.jpg" height="60" width="80" class="retina" alt="" /> </div>
                                    </td>
                                    <td>
                                        <div class="text">
                                            <h5>StayFit Gym Services</h5>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="divide20"></div>
                                        <div class="icon"> <img src="~/Travellers-master/img/spa1.png" height="50" width="80" class="retina" alt="" /> </div>
                                    </td>
                                    <td>
                                        <div class="text">
                                            <h5>Feel Refreshed & Revitalised</h5>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="divide10"></div>
                                        <div class="icon"> <img src="~/Travellers-master/img/swim1.png" height="80" width="100" class="retina" alt="" /> </div>
                                    </td>
                                    <td>
                                        <div class="text">
                                            <h5>Swimming Pool </h5>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="divide10"></div>
                                        <div class="icon"> <img src="~/Travellers-master/img/yoga1.jpg" height="80" width="100" class="retina" alt="" /> </div>
                                    </td>
                                    <td>
                                        <div class="text">
                                            <h5>Yoga Sessions</h5>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div class="divide10"></div>
                                        <div class="icon"> <img src="~/Travellers-master/img/game.png" height="80" width="100" class="retina" alt="" /> </div>
                                    </td>
                                    <td>
                                        <div class="text">
                                            <h5>Gamming Zones</h5>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="services" class="services">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <h2 class="main-title">Our Services</h2>
                    <hr>
                </div>
            </div>
            <div class="divide50"></div>
            <div class="row">

                <div class="col-md-4 text-center">
                    <div class="service-item">
                        <i><img src="~/Travellers-master/img/gym2.jpg" height="200" width="350" class="retina" alt="" /></i>
                        <br />
                        <h4 class="service-title" style="text-align:center">@Html.ActionLink("StayFit Gym Services", "GymServicesDetails")</h4>
                        <p class="service-desc" style="text-align:center">StayFit Gym, featuring free weights and medicine balls for strength training, plus cardio machines,showers for an invigorating end to your exercise routine.</p>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="service-item">
                        <i><img src="~/Travellers-master/img/spa1.png" height="200" width="350" class="retina" alt="" /></i><br />
                        <h4 class="service-title" style="text-align:center">@Html.ActionLink("Feel Refreshed & Revitalised", "SpaServicesDetails")</h4>
                        <p class="service-desc" style="text-align:center">Relax, reset and refresh with Absolute Spa. <br />Enjoy a day of Indulgence from our expert Spa technicians in before your Flying.</p>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="service-item">
                        <i><img src="~/Travellers-master/img/swim1.png" height="200" width="350" class="retina" alt="" /></i><br />
                        <h4 class="service-title" style="text-align:center">@Html.ActionLink("Swimming Pool ", "SwimServicesDetails")</h4>
                        <p class="service-desc" style="text-align:center">Swimming is the best exercise to maintain good <br />health which also rejuvenates you.Well here,<br />we provide you with three different swimming <br />pools that can be used by different sectors.</p>
                    </div>
                </div>
                <div class="col-md-2 text-center">
                    <div class="service-item">

                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="service-item">
                        <i><img src="~/Travellers-master/img/yoga1.jpg" height="200" width="350" class="retina" alt="" /></i><br />
                        <h4 class="service-title" style="text-align:center">@Html.ActionLink("Yoga Sessions", "yogaServicesDetails")</h4>
                        <p class="service-desc" style="text-align:center">yoga is an extraordinary spiritual science of self-development and self-realization that shows us how to develop our full potential in our many-sided lives.</p>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="service-item">
                        <i><img src="~/Travellers-master/img/game.png" height="200" width="350" class="retina" alt="" /></i><br />
                        <h4 class="service-title" style="text-align:center">@Html.ActionLink("Gamming Zones", "gameServicesDetails")Gamming Zones</h4>
                        <p class="service-desc" style="text-align:center">We have a wide selection of games. Whether it’s the classic ones you enjoyed as a child or the latest interactive learning games, we’ve got an activity that’s perfect for every kid in your family.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="callout">
        <div class="vert-text">
            <h1 class="main-title parallax2">Your Travellers Guide</h1>
        </div>
    </div>
    <div class="call-to-action" id="bookings">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h3>We provide online booking</h3>
                    <a href="#" class="btn booking-btn text-center" data-toggle="modal" data-target="#booking">Click for Booking !</a>
                </div>
            </div>
        </div>
    </div>

    <div class="map" id="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3884.4245674694025!2d77.70440411445877!3d13.198640013427683!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1cfe75446265%3A0x296c70e9a129418e!2sKempegowda%20International%20Airport%20Bengaluru!5e0!3m2!1sen!2sin!4v1639479366768!5m2!1sen!2sin" width="1150" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <ul class="list-inline">
                        <li>
                            <i class="fa fa-facebook"></i>
                        </li>
                        <li>
                            <i class="fa fa-twitter"></i>
                        </li>
                        <li>
                            <i class="fa fa-dribbble"></i>
                        </li>
                        <li>
                            <i class="fa fa-pinterest"></i>
                        </li>
                    </ul>
                    <hr>
                    <p>Copyright &copy; - Atithi Devo Bhava By Satya Iyer @DateTime.Now.Year</p>
                    <div class="top-scroll">
                        <a href="#top"><i class="fa fa-arrow-circle-up scroll"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- begin:booking -->
    <div class="modal fade" id="booking" tabindex="-1" role="dialog" aria-labelledby="booking" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Knowing Traveller</h4>
                </div>
                <div class="modal-body">
                    <form role="form" action="post">
                        <div class="form-group">
                            <label for="emailAddress">Registered Email address</label>
                            <input id="emailAddress" type="email" class="form-control input-lg" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input id="password" type="password" class="form-control input-lg" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="country">Which country you are Traveling From?</label>
                            <select class="form-control" id="country">
                                <option>Australia</option>
                                <option>Bangladesh</option>
                                <option>England</option>
                                <option>France</option>
                                <option>India</option>
                                <option>U.S.A</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="state">Which State you are Travelling From?</label>
                            <select class="form-control" id="state">
                                <option>Mumbai</option>
                                <option>Pune</option>
                                <option>Chennai</option>
                                <option>Delhi</option>
                                <option>Hyderabad</option>
                                <option>Nagpur</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="country">Are you Vaccinated With both the doses?</label>
                            <select class="form-control" id="country">
                                <option>Yes both doses</option>
                                <option>Yes with single dose</option>
                                <option>None</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    @Html.ActionLink("Confirm","Homepage")
                </div>
            </div>
        </div>
    </div>

    <script src="~/Travellers-master/js/jquery-1.10.2.js"></script>
    <script src="~/Travellers-master/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/Travellers-master/js/jquery.parallax-1.1.3.js"></script>
    <script>
        $("#menu-close").click(function (e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });</script>
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });</script>
    <script>
        $(function () {
            $('a[href*=#]:not([href=#])').click(function () {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html,body').animate({
                            scrollTop: target.offset().top
                        }, 1000);
                        return false;
                    }
                }
            });
        });</script>
    <script>
        $('.modal').on('shown.bs.modal', function () {
            var curModal = this;
            $('.modal').each(function () {
                if (this != curModal) {
                    $(this).modal('hide');
                }
            });
        });</script>
    
</body>
</html>